<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="e-Commerce">

  <listeners>
  
     <listener class-name="com.ecommerce.utilities.Reporting" />
     
  </listeners>

	<test name="eCommerce Test1" thread-count="5">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.ecommerce.testCases.TC_LoginTest_001" /> 
		    <class name="com.ecommerce.testCases.TC_LoginDDT_002" />
		    <class name="com.ecommerce.testCases.TC_AddCustomerTest_003" />
		</classes>
	</test>
	

</suite>